
<div id="footer">
      <div id="footer-logos">
      <div id="footer-logo-text">Partneři projektu informaceprovsechny.cz</div>
      <a href="http://www.osf.cz/"><%= image_tag('/ipvtheme/images/OSF.jpg') %></a>
      <a href="http://www.otevrete.cz/"><%= image_tag('/ipvtheme/images/otevrete.jpg') %></a>
      <a href="http://www.osf.cz/fond-otakara-motejla-rozvoj-pravniho-statu/fond-otakara-motejla"><%= image_tag('/ipvtheme/images/FOM.jpg') %></a>
      </div>
    <%= link_to _("Contact {{site_name}}", :site_name => site_name), help_contact_url %>
| <img src="/images/twitter-16.png" alt="twitter icon" class="twitter-icon"> <a href="https://twitter.com/<%= AlaveteliConfiguration::twitter_username %>"><%= _("Follow us on twitter") %></a>
<%= render :partial => 'general/credits' %>
</div>
<div class="after-footer">&nbsp;</div>
