<% @title = _('Change your address used on {{site_name}}', :site_name => site_name) %>

<% raise _('internal error') if not @user %>

<div id="change_email">

<%= form_tag({:action => "signchangeaddress"}, {:id => "signchangeaddress_form"}) do %>
    <%= foi_error_messages_for :signchangeemail %>

    <div class="form_note">
    <h1> <% _('Change your address used on {{site_name}}', :site_name => site_name) %></h1>
    </div>

    <label class="form_label" for="signchangeaddress_new_address"> <%= _('New address:')%></label>
    <%= text_area 'signchangeaddress', 'new_address', { :cols => 20, :rows => 6, :value => @user.address } %>
    </p>

    <p>
    <div class="form_button">
    <%= hidden_field_tag 'submitted_signchangeaddress_do', 1 %>
    <%= submit_tag _("Change address on {{site_name}}", :site_name=>site_name) %>
    </div>
<% end %>

</div>
