<% @title = _('Change your dob used on {{site_name}}', :site_name => site_name) %>

<% raise _('internal error') if not @user %>

<div id="change_email">

<%= form_tag({:action => "signchangedob"}, {:id => "signchangedob_form"}) do %>
    <%= foi_error_messages_for :signchangedob %>

    <div class="form_note">
    <h1> <% _('Change your dob used on {{site_name}}', :site_name => site_name) %></h1>
    </div>

    <label class="form_label" for="signchangedob_new_dob"> <%= _('New dob:')%></label>
    <%= text_field 'signchangedob', 'dob', { :value => @user.dob, :size => 20, :class => 'dob-datepicker' } %>
    </p>

    <p>
    <div class="form_button">
    <%= hidden_field_tag 'submitted_signchangedob_do', 1 %>
    <%= submit_tag _("Change dob on {{site_name}}", :site_name=>site_name) %>
    </div>
<% end %>

</div>
