<div id="right_column_flip">
    <div class="help-page-nav">
      <h2><%= _("Help pages") %></h2>
      <ul class="no_bullets">
          <li><%= link_to_unless_current "Introduction", "/help/about" %></li>
          <li><%= link_to_unless_current "Making requests", "/help/requesting" %></li>
          <li><%= link_to_unless_current "Your privacy", "/help/privacy" %></li>
          <li><%= link_to_unless_current "FOI officers", "/help/officers" %></li>
          <li><%= link_to_unless_current "About the software", "/help/alaveteli" %></li>
          <li><%= link_to_unless_current "Credits", "/help/credits" %></li>
          <li><%= link_to_unless_current "Programmers API", "/help/api" %></li>
          <li><%= link_to_unless_current "Help us", "/help/help_out" %></li>
          <li><%= link_to_unless_current "Advanced search", "/search" %></li>
      </ul>
    </div>

    <h2 id="contact">Kontaktujte nás</h2>
      <p>Pokud jste nenašli co jste hledali, nebo jen máte připomínky ke stránkám, <a href="/help/contact">kontaktujte&nbsp;nás</a>.
      </p><br>

      <p><strong>Informace pro všechny, o.s.</strong><br>
      Uralská 687/3<br>
      160 00 Praha 6<br><br>
      <strong>IČO</strong>:&nbsp;22763201<br>
      <strong>DIČ:</strong>&nbsp;CZ22763201<br><br>
      <strong>Předseda rady občanského sdružení</strong><br>Richard Hunt<br><br>
      <strong>Bankovní účet č.</strong>:<br><a href="http://www.rb.cz/firemni-finance/transparentni-ucty/?tr_acc=vypis&amp;account_number=6787119028">6787119028/5500</a> vedený u Raiffeisenbank a.s.<br></p>
</div>
