<h1>Kontaktujte</h1>

<div id="contact_preamble">


  <h2>instituci pro vznesení dotazu</h2>
  <ul>
    <li><a href="/new">Zde</a> můžete vznést dotaz veřejnou cestou a odpověď instituce bude také zveřejněna.</li>

    <li>Přečtěte si také, jak zacházíme s
      <a href="/help/requesting#data_protection">osobními informacemi.</a>.</li>
  </ul>

  <h2>složky státní správy přímo</h2>

  <ul>
    <li><a href="http://www.napistejim.cz">Napište svému zastupiteli, tedy poslanci nebo senátorovi</a> prostřednictvím spřáteleného projektu NapišteJim.cz, který funguje jako živá brána emailové konverzace mezi občany a politiky..</li>
    <li>Vznést dotaz na instituci můžete také přímo, pokud nechcete, aby byl váš dotaz zveřejněn na stránkách Informace pro všechny.</li>
  </ul>

  <h2>tým stránek Informace pro všechny</h2>

  <ul>
    <li>Ještě než se na nás obrátíte, přečtěte si nejdříve <a href="/help/about">nápovědu</a>, kde požadovanou odpověď můžete najít mnohem <strong>rychleji.</strong></li>

    <li>Jsme schopni vám pomoci <strong>pouze s technickými potížemi</strong> nebo s dotazem, který se týká svobodného přístupu k informacím. Pokud chcete získat informace od složek státní správy, tedy institucí, politiků nebo senátorů, využijte formulář pro vznesení dotazu, využijte služeb portálu NapišteJim.cz nebo oslovte státní správu přímo.</li>
    <li>Rádi se dozvíme, zda jsou pro vás stránky Informace pro všechny užitečné a pomohly vám. Můžete vyplnit kontaktní formulář níže nebo poslat e-mail na <a href='mailto:postmaster@infoprovsechny.cz'>postmaster@infoprovsechny.cz</a>. Budeme se snažit váš dotaz zodpovědět co nejrychleji.</li>
    <li>Pro vaši informaci – jsme registrováni jako občanské sdružení, nejsme součástí státní správy.</li>
  </ul>

</div>

<%= form_for :contact do |f| %>

<% if not @user %>
<p>
<label class="form_label" for="contact_name">Jméno</label><br/>
<%= f.text_field :name, :size => 20 %>
(nebo <%= link_to "se přihlašte", signin_url(:r => request.fullpath) %>)
</p>

<p>
<label class="form_label" for="contact_email">Email:</label><br/>
<%= f.text_field :email, :size => 20 %>
</p>
<% end %>

<p>
  <label class="form_label" for="contact_subject">Předmět:</label><br/>
<%= f.text_field :subject, :size => 50 %>
</p>

<p>
  <label class="form_label" for="contact_message">Zpráva pro tým stránek IPV:</label><br/>
  <%= f.text_area :message, :rows => 10, :cols => 60 %>
</p>

<p style="display:none;">
    <%= f.label :comment, 'Do not fill in this field' %>
    <%= f.text_field :comment %>
</p>

<% if !@last_request.nil? %>
<p>
<label class="form_label" for="contact_message">Přidejte odkaz k dotazu:</label>
<%= request_link(@last_request) %>
<%= submit_tag "odstranit", :name => 'remove' %>
</p>
<% end %>
<% if !@last_body.nil? %>
<p>
<label class="form_label" for="contact_message">Přidejte odkaz na instituce:</label>
<%=public_body_link(@last_body) %>
<%= submit_tag "odstranit", :name => 'remove' %>
</p>
<% end %>

<p class="form_note">
  Jsme schopni vám pomoci <strong>pouze s technickými potížemi</strong> nebo s dotazem, který se týká svobodného přístupu k informacím.
</P>


<div class="form_button">
<%= hidden_field_tag(:submitted_contact_form, 1) %>
<%= submit_tag "Odeslat dotaz týmu stránek Informace pro všechny" %>
&lt;-- tuto stránku spravuje občanské sdružení Informace pro všechny, nikoliv státní správa.
</div>

<p>Pokud jste poskytovatel informací a považujete naši službu za užitečnou, požádejte své IT nebo oddělení spravující vaše webové stránky o propojení se stránkami Informace pro všechny – ideálně tam, kde uveřejňujete povinné informace.</p>
<% end %>
